
.card-table{
    width: 100%;
    padding: 10px 20px 10px 20px;
    background-color: white;
}

.tbl_edit{
    margin-right: 5px;
}
.leave-main{
    width: 100%;
}
.leave-container{
    width: 100%;
    padding: 20px;
}

.label {
    border-radius: 15px;
    padding: 2px 10px;
    padding-bottom: 4px;
    color: white;
    text-align: center;
    font-size: 13px;
}

.label-approved {
    background-color: green;
}
/* .label-draft {
    background-color: gray;
} */

.label-not-approved {
    background-color: red;
}
.label-pending {
    background-color: rgb(210, 157, 11);
}

