.leaveStatus {
    background-color: red;
    border-radius: 15px;
    align-items: 'center';
    color: '#FFA07A';
    margin-right: 15px;
}

.card-table{
    width: 100%;
    padding: 10px 20px 10px 20px;
    background-color: white;
}

.tbl_edit{
    margin-right: 5px;
}
.leave-main{
    width: 100%;
}
.leave-container{
    width: 100%;
    padding: 20px;
}

