.card-table {
    width: 100%;
    padding: 10px 20px 10px 20px;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    background-color: white;
}

.tbl_edit {
    margin-right: 5px;
}

.employee-main {
    width: 100%;
}

.employee-container {
    width: 100%;
    padding: 20px;
}

.employ .modal-dialog {
    max-width: 800px !important;
}

form.add-employ {
    width: 782px !important;
    padding-right: 20px;
}