.header-container{
    width: 100%;
    background: white;
    height: 7vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 2px -2px gray;
}
.header-container h5{
    font-weight: 700;
    color: teal;
}